/* ShoppingCart.css */

.shopping-cart {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-cart h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.liste-shopping-card {
  overflow-y: auto;
  height: 50vh;
  width: 100%;
  padding-right: 10px;
}

.cart-item-shopping {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cart-item-shopping:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image-shopping {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-image-shopping:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-details-shopping h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.product-details-shopping p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

.checkout-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkout-button-container button {
  width: auto;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, transform 0.3s;
}

.checkout-button-container button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.checkout-button-container button:focus {
  outline: none;
}

.item-count {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.9em;
  margin-left: 10px;
}

.length0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
gap: 15px;
}

.btn-commencez{
  padding: 5px;
  width: 30%;
  height: auto;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
}