
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffff, #fff);
}


.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.main-content {
    flex-grow: 1; 
    padding: 20px;
}


.gallery-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.gallery-content::-webkit-scrollbar-track {
    background: transparent; 
}

.gallery-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.gallery-content::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); 
}
